body {
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
	background: #0e8b44 url('https://bfa.github.io/solitaire-js/img/green_felt.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.score {
    margin-right: 10px;
}

#score {
    position: relative;
    background: rgba(0, 0, 0, 0.15);
    margin: 1.5em 20% .5em 20%;
    padding: 1em;
    line-height: 1;
    color: #fff;
    font-size: 14px;

    label {
        font-weight: 700;
        margin-bottom: 0;
    }

    > * {
        display: inline-block;
        min-width: 100px;

        &:last-child, &:nth-last-child(2) {
            float: right;
            text-align: right;
        }
    }

    .message {
        margin-left: 20px;
        display: none;
    }
}

.card {
	height: 170px;
	width: 120px;
	background-size: 120px 170px;
	background-repeat: no-repeat;
	transition: 0.1s ease-in-out;
}
.available {
	&:hover {
		cursor: pointer;
		-webkit-transform: translate(0px, -20px);
		box-shadow: 0px 0px 5px 1px black;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	-webkit-box-shadow: 0px 0px 3px 3px rgba(204, 255, 51,0.9);
	-moz-box-shadow: 0px 0px 3px 3px rgba(204, 255, 51,0.9);
	box-shadow: 0px 0px 3px 3px rgba(204, 255, 51,0.9);
}
.possible {
	&:hover {
		cursor: pointer;
		-webkit-transform: translate(0px, -20px);
		box-shadow: 0px 0px 5px 1px black;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	-webkit-box-shadow: 0px 0px 3px 3px rgba(52,152,218,0.9);
	-moz-box-shadow: 0px 0px 3px 3px rgba(52,152,218,0.9);
	box-shadow: 0px 0px 3px 3px rgba(52,152,218,0.9);
}
.selected {
	bottom: 30px;
}
.flex-container {
	display: flex;
	justify-content: center;
}
#deck {
    margin-right: 1%;
    background-image: url("https://bfa.github.io/solitaire-js/img/card_back_bg.png");
}
.buttons {
	text-align: center;
}
button {
    overflow: auto;
}
.topCard {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(255,127,80,0.9) !important;
	-moz-box-shadow: 0px 0px 4px 4px rgba(255,127,80,0.9) !important;
	box-shadow: 0px 0px 4px 4px rgba(255,127,80,0.9) !important;
	&:hover {
		color: #ff113c;
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
	}
}
#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 999;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.win-box {
    top: 50% !important;
}
.suit-popup {
    opacity: .98;
    min-width: 300px;
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 1.2em;
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    span, h2, h4 {
        color: #fff;
        font-size: 15px;
        line-height: 18px;
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
}
fieldset {
	border: none;
}
.suit-icon {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
	background-color: white;
	cursor: pointer;
    padding: 0;
    margin: 10px 0;
	&:hover {
		background-color: #F7F7F7;
	}
}
.demand-icons {
    margin: 0 15px;
}
.icon-image {
	width: 30px;
	height: 30px;
	text-align: center;
}
.newWeight {
	color: #999;
	font-size: 15px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.invisible {
	display: none;
}
#cpuContainer {
	margin-top: 2%;
}
#playerContainer {
	margin-bottom: 2%;
}
.cardsInHand {
	margin-left: -95px;
	border: solid white 40px;
}
.cards-container{
    min-height:170px;
}
#rules {
    background: url(https://cdn.iconscout.com/public/images/icon/premium/png-512/prescription-notes-rules-checklist-todo-tasks-39940c544bd69358-512x512.png);
    background-size: 20px 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
}

#reset {
    background: url(https://cdn4.iconfinder.com/data/icons/game-general-icon-set-1/512/reset-512.png);
    background-size: 20px 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
}
#confetti {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
}

.wait-battle-counter {
    background-color: #333;
}

.cards-counter {
    background-color: #333;
}