body {
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
	background: #0e8b44 url('https://bfa.github.io/solitaire-js/img/green_felt.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.card {
	height: 170px;
	width: 120px;
	background-size: 120px 170px;
	background-repeat: no-repeat;
	transition: 0.1s ease-in-out;
}
.available {
	&:hover {
		cursor: pointer;
		-webkit-transform: translate(0px, -20px);
		box-shadow: 0px 0px 5px 1px black;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	-webkit-box-shadow: 0px 0px 3px 3px rgba(204, 255, 51,0.9);
	-moz-box-shadow: 0px 0px 3px 3px rgba(204, 255, 51,0.9);
	box-shadow: 0px 0px 3px 3px rgba(204, 255, 51,0.9);
}
.possible {
	&:hover {
		cursor: pointer;
		-webkit-transform: translate(0px, -20px);
		box-shadow: 0px 0px 5px 1px black;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	-webkit-box-shadow: 0px 0px 3px 3px rgba(52,152,218,0.9);
	-moz-box-shadow: 0px 0px 3px 3px rgba(52,152,218,0.9);
	box-shadow: 0px 0px 3px 3px rgba(52,152,218,0.9);
}
.selected {
	bottom: 30px;
}
.flex-container {
	display: flex;
	justify-content: center;
}
#deck {
	margin-right: 1%;
	background-image: url("https://i.pinimg.com/originals/6c/a0/16/6ca016115a894f69dea75cc80f95ad92.jpg");
}
.buttons {
	text-align: center;
}
button {
    overflow: auto;
}
.topCard {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(255,127,80,0.9) !important;
	-moz-box-shadow: 0px 0px 4px 4px rgba(255,127,80,0.9) !important;
	box-shadow: 0px 0px 4px 4px rgba(255,127,80,0.9) !important;
	&:hover {
		color: #ff113c;
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
	}
}
#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	z-index: 999;
}
.suit-popup {
    opacity: 0.5;
    min-width: 300px;
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    span {
        color: #999;
        font-size: 15px;
        line-height: 18px;
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
}
fieldset {
	border: none;
}
.suit-icon {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333;
	background-color: white;
	cursor: pointer;
	&:hover {
		background-color: #F7F7F7;
	}
}
.icon-image {
	width: 30px;
	height: 30px;
	text-align: center;
}
.newWeight {
	color: #999;
	font-size: 15px;
	line-height: 18px;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.invisible {
	display: none;
}
#cpuContainer {
	margin-top: 2%;
}
#playerContainer {
	margin-bottom: 2%;
}
.cardsInHand {
	margin-left: -95px;
	border: solid white 40px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: #333;
}

#rules {
    background: url(https://cdn.iconscout.com/public/images/icon/premium/png-512/prescription-notes-rules-checklist-todo-tasks-39940c544bd69358-512x512.png);
    background-size: 20px 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

#reset {
    background: url(https://cdn4.iconfinder.com/data/icons/game-general-icon-set-1/512/reset-512.png);
    background-size: 20px 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

.message {
    background-color: #707070;
}

.wait-battle-counter {
    background-color: #333;
}

.cards-counter {
    background-color: #333;
}

@media all and (min-width: 600px) {
    .cards-counter {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .pile-counter {
        flex: 1 0px;
    }

    .deck-counter {
        order: 1;
    }

    .pile-counter {
        order: 2;
    }

    .wait-battle-counter {
        order: 3;
    }

    .message {
        order: 4;
    }
}